﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tech Demo [1] - MVVM</title>
    @Styles.Render("~/Content/css")    


    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>

    <script src="~/Scripts/jquery.signalR-1.0.0-rc1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/profile.js"></script>
</head>
<body>
    <header>
       <h3>Profile: <span data-bind="text:fullName"></span></h3>
    </header>
    <section>
        <p>Title: <span data-bind="text:title"></span></p>
        <p>Firstname: <span data-bind="text:firstName"></span></p>
        <p>Lastname: <span data-bind="text:lastName"></span></p>
        <p>Address: <span data-bind="text:address"></span></p>
        <div data-bind="visible:details().length >0">Details:
            <ul data-bind="foreach:details">
                <li><span data-bind="text:detail"></span> <a href="#" data-bind="click:remove">remove</a></li>                
            </ul>            
        </div>
        <form data-bind="submit:addDetail" action="#">
                <input type="text" id="txtDetail" data-bind="value:addItemTitle, valueUpdate: 'afterkeydown'" />
                <input type="submit" id="btnAddDetail" value="Add detail" disabled="disabled" data-bind="enable:addItemTitle().length > 0" />
        </form>

        <a href="#" data-bind="click:sendUpdate">Save</a>

    </section>
    <hr />
    <section>
        <p>Title: <input type="text" id="txtEditTitle" data-bind="value:title" /></p>
        <p>Firstname: <input type="text" id="txtEditFirstname" data-bind="value:firstName"/></p>
        <p>Lastname: <input type="text" id="txtEditLastname" data-bind="value:lastName" /></p>
        <p>Address: <input type="text" id="txtEditAddress" data-bind="value:address" /></p>       

    </section>

</body>
</html>
