﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IDILayout.cshtml";
}

    <header>
        <h3>IDI - knockout binding and validation</h3>
    </header>
<section>
    <div id="div_root">
        
        <div data-bind="template: {name:'demographic-template',foreach:data}"></div>
        
        <script type="text/html" id="demographic-template">
            <div>
                <h5 data-bind="text:Label"></h5>
                <h6 data-bind="text: Value"></h6>
                
                <input type="text" data-bind="value: Value, enable: Enabled, visible: !IsList()"/>
                <select data-bind="options: ValueList, enable: Enabled, visible:IsList" />
                
            </div>
        </script>
        
    </div>
</section>


@section scripts_bottom
{
    <script lang="javascript">
        'use strict';

        function demographicViewModel() {
            var self = this;

            // custom validation settings 
            self.validationMapping = {
                // property name
                Value: {
                    create: function (options) {
                        return ko.observable(options.data)
                                //.extend({ required: true }) // required is true
                                .extend({  // min length is 3 with custom message
                                    minLength: {
                                        params: 3,
                                        message: "Must have 3 or more characters."
                                    }
                                });
                    }
                }
            };

            self.data = ko.observableArray();

            self.LoadData = function(data) {
                ko.mapping.fromJS(data, self.validationMapping, self.data);
                console.log(self.data);
            };          
            
        }

        //load view-data on page ready
        $(function() {
            var viewModel = new demographicViewModel();
            ko.applyBindings(viewModel);
            $.get("/api/idi", function(item) {

                viewModel.LoadData(item);

            }, "json");
        });

    </script>
}