﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tech Demo [1] - MVVM</title>
    @Styles.Render("~/Content/css")
    
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    @RenderSection("scripts_head", required:false)
</head>
<body>
        @RenderBody()
    
    @RenderSection("scripts_bottom", required:false)
</body>
</html>
